html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "source sans 3", sans-serif;
}

/* styling top logo and nav links */

.header-flex-container,
.nav-links,
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  list-style: none;
  margin-right: 0.6em;
  font-weight: bold;
  font-size: 0.65em;
}

.logo {
  margin: 1em;
}

.title {
  margin-left: 0.25em;
}

.trevor {
  border-radius: 50%;
  width: 25%;
}

h2 {
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
a:link{
  color:black
}

.nav-home {
  margin: 2em;
}

h1 {
  font-size: 1.76em;
  font-weight: bold;
  width: 75%;
  line-height: 1.25;
}

.about-me {
  line-height: 1.5;
  font-size: 17px;
}

article {
  padding-left: 0.7em;
}

.recent-posts {
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  font-size: 1.05em;
}

/* styling posts */
p {
  margin: 0;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 425px;
  margin: 2em auto 0 auto;
}

.post-text {
  padding-bottom: 0.25rem;
}

.post-date {
  padding: 0.75em 0 0.75em 0;
}

.post-nr {
  padding-bottom: 0.25em;
  font-size: 1.5em;
  font-weight: bold;
}
/* 
styling footer and media q */

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}

@media (min-width: 650px) {
  h2 {
    font-size: 1.25em;
  }

  .nav-link {
    font-size: 0.9em;
    margin-right: 1em;
  }

  .hero-p {
    font-size: 1.15em;
    max-width: 600px;
  }

  .hero-heading {
    font-size: 1.85em;
    max-width: 600px;
  }

  .about-me,
  h1 {
    text-align: left;
    width: 76%;
  }

  .trevor {
    width: 16%;
  }

  .flex-media-q {
    display: flex;
    align-items: center;
  }

  .flex-media-margin {
    margin-left: 1.5em;
  }
}
